.post_section_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.post_picture {
  width: 695px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post_img {
  height: 75vh;
  width: 90%;
  object-fit: cover;
} 

.post_img:hover {
  cursor: pointer;
}

.added_info_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  height: 50px;
  margin-top: -4px;
  margin-bottom: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 90%;
  position: sticky;
  object-fit: cover;  

}

.post_added_info {
  font-family: 'Sour Gummy';
  color: white;
  object-fit: contain;
  margin-left: 10px;

}

.post_description {
  font-family: 'Sour Gummy';
  color: white;
  object-fit: contain;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 560px;
}

.likes_container:hover .likes_count {
  opacity: 1;
  visibility: visible;
  margin-left: 240px;
  background-color: #222222;
  font-family: 'Sour Gummy';
}

.comment_container:hover .comment_count {
  opacity: 1;
  visibility: visible;
  margin-left: 240px;
  background-color: #222222;
  font-family: 'Sour Gummy';
}
.heart_icon {
  margin-right: 5px;
  cursor: pointer;
}

.comment_icon {
  margin-right: 5px;
  cursor: pointer;
}

.likes_count {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #222222; 
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Sour GUmmy';
  opacity: 0; 
  visibility: hidden; 
  pointer-events: none; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-left: 240px;
  margin-bottom: 2px;

}

.comment_count {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0; 
  visibility: hidden; 
  pointer-events: none; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: #222222;
  font-family: 'Sour Gummy';
  margin-left: 240px;
  margin-bottom: 2px;

}

.user_info {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background-color: #222222;
  height: 50px;
  margin-top: 15px;
  margin-bottom: -4px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 90%;
  position: sticky;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  color: white;
  font-family: 'Sour Gummy';
}

.comment_dots {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: .5%;
  margin-right: 1.5%;
}

.comment_dots:hover {
  cursor: pointer;
}

.comment_dots_container {
  width: 100%;
}