.follow_div {
    width: 695px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    font-family: 'Sour Gummy';
    list-style-type: none;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;

}


div > h1 {
    font-family: 'Sour Gummy';
}

#user_tag {
    text-decoration: none;
    color: #547375;
    margin-right: 10px;
  }

  #user_tag:hover {
    text-decoration: underline;
  }

#follow-modal {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.follow-modal_ {
  color: #547375;
}

.follow-modal_:hover {
  cursor: pointer;
  text-decoration: underline;
}

.noted {
  margin-left: 1.3%;
}
div > h2 {
    font-family: 'Sour Gummy';
}


#follow-modal {
    padding: 20px;
    width: 400px;
    border-radius: 50px;
    font-family: 'Sour Gummy'
}

#follow-modal h2 {
    margin-bottom: 15px;
    font-family: 'Sour Gummy'
}

#follow-modal label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Sour Gummy'
}

#follow-modal input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #000000;
    font-family: 'Sour Gummy'
}

#follow-modal textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #000000;
    font-family: 'Sour Gummy'
}

#follow-modal button {
    margin-right: 10px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Sour Gummy'
}