#nav-bar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  color: #FFFFFFA6;
  font-family: 'Sour Gummy';
  font-weight: bold;
}

#nav-bar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#nav-bar::-webkit-scrollbar-track {
  background: transparent;
}

#nav-bar::-webkit-scrollbar-thumb {
  background: transparent;
}

#nav-bar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

#nav-bar li {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 4px;
  height: fit-content;
}

#nav-bar li:hover {
border: solid 1px #46976A;
color: white;
}

.flux-logo {
  width: 40%;
  height: auto;
}
