#nav-bar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-right: 1px solid #000000;
}

#nav-bar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

#nav-bar li {
  padding: 30px 15px;
  width: 100%;
  cursor: pointer;
}

